@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

body {
  font-family: "Architects Daughter", cursive;
  margin: 0;
  padding: 0;
  background-image: url(../Image/nordwood-themes-Tmz8FThN_BE-unsplash.jpg);
  background-position: center;
  background-size: cover;
  opacity: 2;
}

.tableBody {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}

.features {
  width: 400px;
  margin: 6%;
  height: auto;
  border: 3px solid rgb(255, 189, 47);
  transition: all 0.4s;
  border-radius: 70px;
  background-color: rgb(232, 225, 211);
  padding: 2rem;
}

.feature {
  width: 80%;
  margin: auto;
}

.imagemeals {
  transition: transform 0.5s ease;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.imagemeal {
  transition: transform 0.5s ease;
  width: 100%;
  display: flex;
  justify-content: center;
}

.line-feature {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 15px;
}

.line-feature p,
.line-feature h3 {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
}

.line-feature h3 {
  font-weight: 900;
  font-size: 2rem;
  padding-top: 1rem;
}

.popu-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4%;
}

button,
.btn,
.commentSection button {
  border: 2px solid rgb(36, 33, 33);
  border-radius: 10px;
  background: white;
  box-shadow: 2px 2px;
  font-size: 16px;
  padding: 5px 12px;
  cursor: pointer;
  margin: 8%;
}

.commentSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

span {
  display: flex;
  justify-content: center;
}

/* header and footer start */
ul {
  display: flex;
  list-style-type: none;
  gap: 6rem;
  font-size: 1.5rem;
  justify-content: center;
  text-transform: capitalize;
  text-decoration: none;
  margin-top: 30px;
}

footer a {
  color: beige;
  text-decoration: none;
}

ul h1 a {
  border: 2px solid rgb(255, 179, 0);
  font-size: 1.5rem;
  color: rgb(255, 179, 0);
  padding: 0.5rem;
  border-radius: 40%;
  margin-top: -1rem;
  text-decoration: none;
  font-weight: bold;
}

footer {
  background-color: black;
  color: bisque;
  padding: 30px;
}

ul h2 a {
  text-decoration: none;
  color: rgb(255, 179, 0);
  font-size: 1.3rem;
}

footer ul {
  gap: 0;
  align-items: center;
}

footer ul a {
  border: 0;
  font-size: 1.5rem;
  color: rgb(255, 179, 0);
  padding: 0.5rem;
  border-radius: 0;
  margin-top: -1rem;
  text-decoration: none;
  font-weight: 300;
}

hr {
  border-top: 1px solid rgb(255, 179, 0);
}

/* header and footer end */
.heart {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}

.heart b {
  font-size: 1rem;
}

#reservation {
  display: flex;
  justify-content: center;
}

/* popup windos */
.imagemealspop {
  width: 40%;
  height: auto;
  margin: 30px;
}

.popup {
  background-image: url(../Image/new.jpg);
  background-repeat: no-repeat;
  color: bisque;
}

.closeBtn {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  color: brown;
  font-size: 20px;
  padding: 10rem;
}

.table {
  display: flex;
  justify-content: center;
}

tr {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 8rem;
  color: azure;
  font-family: "Times New Roman", Times, serif;
  align-items: center;
}

td {
  border: 0;
}

.popup-windo {
  width: 80%;
  margin: auto;
}

.popup-img {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.mealblur {
  filter: blur(5px);
}

.p {
  display: flex;
  justify-content: center;
  width: 10rem;
  margin: auto;
}

.meal-detail {
  width: 100%;
}

.meal-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.list {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 200;
}

.score-container {
  width: 50%;
  height: 100px;
}

input {
  margin: 0.2rem;
  padding: 0;
  border-radius: 10px;
  width: 1rem;
}

.comment-form {
  width: 100%;
}

.comment-header {
  width: 50%;
  margin: auto;
  font-size: 12px;
}

#form {
  width: 24rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

textarea {
  border-radius: 7px;
  border-color: rgb(178, 178, 174);
  height: 20rem;
  padding: 0.5rem;
}

.form-control {
  height: 2rem;
  padding: 0.7rem;
  border-radius: 8px;
  width: 50%;
  margin: 1.5rem;
  margin-left: 0;
  color: rgb(19, 20, 20);
}

.comments-Btn {
  margin-left: 22%;
  height: 2.2rem;
  border-radius: 8px;
  background-color: rgb(155, 175, 230);
  color: rgb(47, 46, 46);
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.btn {
  display: flex;
  flex-direction: column;
}

/* ********* */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 100%;
  background-color: rgb(175, 167, 160);
}

.header {
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  align-items: center;
  margin: 1rem 0;
}

.header a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 2.1rem;
  margin-top: 5px;
  justify-self: center;
}

.meal {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 1rem;
}

.meal-item {
  border-radius: 4rem;
  margin: 1rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 450px;
  background-color: whitesmoke;
  cursor: pointer;
}

.meal-item:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
}

.meal-img img {
  width: 300px;
  height: 200px;
  display: block;
  margin-top: 0.5rem;
  border: 2px solid transparent;
  border-radius: 1rem;
}

.meal-name {
  padding: 1rem 0.5rem;
  color: orange;
}

.meal-name p {
  font-size: 1rem;
}

.fa-heart {
  font-size: 1rem;
  cursor: pointer;
}

.fa-heart:hover {
  color: red;
}

.involvement p {
  margin-top: 7px;
}

/* .comment-btn {
  background-color: rgb(165, 84, 13);
  color: #fff;
  margin-top: 1rem;
  padding: 0.5rem 0.9rem;
  border-radius: 8px;
  border: none;
} */

.comment-btn:hover {
  background-color: rgb(233, 131, 42);
  color: #fff;
  margin-top: 1rem;
  padding: 0.5rem 0.9rem;
  border-radius: 8px;
  border: none;
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

/* Modal */
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: rgb(219, 174, 134);
  border-radius: 1rem;
  width: 90%;
  height: 90%;
  overflow-y: scroll;
  display: none;
  padding: 2rem 0;
}

.modal-details::-webkit-scrollbar {
  width: 10px;
}

.modal-details::-webkit-scrollbar-thumb {
  background: #f0f0f0;
  border-radius: 2rem;
}

/* js related */
.displayModal {
  display: block;
}

.modal-close-btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 1.8rem;
  background: #fff;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}

.modal-close-btn:hover {
  color: red;
}

.modal-title {
  letter-spacing: 1px;
  padding-bottom: 1rem;
  text-align: center;
}

#commentTitle {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.modal-meal-img img {
  width: 50%;
  height: auto;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 7rem;
}

#commentsDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.comentInfo {
  display: flex;
  margin: 0.25rem 0;
}

#plusComment {
  text-align: center;
  margin: 1rem;
}

#username {
  width: 15rem;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.5rem;
  font-size: 1rem;
}

#comment {
  width: 20rem;
  height: 3rem;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.5rem;
  font-size: 1rem;
}

#submit-comment {
  color: rgb(233, 131, 42);
  background-color: #fff;
  font-size: 1.2rem;
  margin-top: 1rem;
  padding: 0.9rem 2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

#submitBtn:hover {
  background-color: rgb(233, 131, 42);
  color: #fff;
  border-radius: 8px;
  border: none;
  transition: all 0.3s ease-in-out;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .meal {
    grid-template-columns: repeat(1, 1fr);
  }
}
